<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="userinterface" value="console" />
		<add key="renderer" value="console" />   
		<add key="datasourcetype" value="XML" />
		<add key="soundsourcetype" value="WAV" />
		<add key="default_component_set" value="Modern" />
		<add key="window_width" value="200" />
		<add key="window_height" value="82" />
		<add key="datafilepathDefault" value="Program Files (x86)\JTacticalSim\Data\GameData" />
		<add key="datafilepathGameSaveDefault" value="Program Files (x86)\JTacticalSim\Data\SavedGame" />
		<add key="datafilepathScenarioDefault" value="Program Files (x86)\JTacticalSim\Data\Scenario" />
		<add key="mediafilepathDefault" value="Program Files (x86)\JTacticalSim\Media" />
		<add key="gameeditor_executablepath" value="Dev\JTacticalSimEditor\JTacticalSimEditor\bin\Debug" />
		<add key="texturefilepathdefault" value="Dev\JTacticalSim\JTacticalSim.XNA\JTacticalSim.XNAContent\Textures"/>
		<add key="texturefileextension" value=".png"/>
		<add key="gameversion" value="0.5.0" />
		<add key="run_multithreaded" value="true" />
		<add key="restrict_moveradius_to_available_only" value="false" />
		<add key="show_hidden_units" value="false"/>
		<add key="max_zoom_level" value="4"/>
		<add key="TEST_GAME" value="UNIT_TEST"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
