<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="userinterface" value="gui"/>
    <add key="renderer" value="monogame"/>
    <add key="datasourcetype" value="XML"/>
    <add key="soundsourcetype" value="WAV"/>
    <add key="default_component_set" value="Modern"/>
    <add key="datafilepathDefault" value="..\..\..\..\Data\GameData"/>
    <add key="datafilepathGameSaveDefault" value="..\..\..\..\Data\SavedGame"/>
    <add key="datafilepathScenarioDefault" value="..\..\..\..\Data\Scenario"/>
    <add key="mediafilepathDefault" value="..\..\..\..\Media"/>
    <add key="texturefilepathdefault" value=""/>
    <add key="texturefileextension" value=".png"/>
    <add key="gameversion" value="0.5.0"/>
    <add key="run_multithreaded" value="true"/>
    <add key="restrict_moveradius_to_available_only" value="false"/>
    <add key="show_hidden_units" value="false"/>
    <add key="max_zoom_level" value="4"/>
    <add key="TEST_GAME" value="UNIT_TEST"/>
  </appSettings>
</configuration>
